.product__detail-exception .navbar{
  background-color: var(--third-color);
}

.details__section{
  width: 100%;
  padding-top: 5.5rem;
  margin-bottom: 4rem;
}

.detail__navbar{
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid rgba(0,0,0,0.6);
}


.detail__navbar-2{
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-100%);
}

.detail__nav-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-dark)
}

.detail__link{
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}

.detail__link:hover{
  text-decoration: underline;
}

.detail__link:not(:nth-child(1)){
  margin-left: 0.5rem;
}

.detail__link:nth-child(3):hover{
  text-decoration: none;
}

.product__img-detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.main-product__images{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem
}

.main__img{
  width: 100%;
  aspect-ratio: 16/12;
}

.active__main{
  outline: 2px solid black;
}

.other__images{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__img1{
  width: 20%;
  aspect-ratio: 16/12;
  cursor: pointer;
}

.product__description-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product__name{
  font-size: var(--h2-font-size);
  color: var(--text-color-dark);
  font-weight: var(--font-semibold);
}

.product__category{
  font-size: var(--smaller-font-size);
  color: rgba(0,0,0,0.4);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.product__rating{
  font-size: var(--tiny-font-size);
  padding: 7px 15px;
  background-color: var(--third-color);
  width: max-content;
  border-radius: 50px;
}

.product__description-text{
  color: var(--text-color-dark);
  margin-top: 0.5rem;
  line-height: 22px;
  width: 80%;
  text-align: justify;
}

.call__ta{
  width: max-content;
  padding: 10px 20px;
  font-size: var(--small-font-size);
  background-color: var(--third-color);
  color: var(--text-color-light);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.call__ta svg{
  transition: all 0.5s ease;
  font-size: var(--smaller-font-size);
  transition: all 0.5s ease;
}

.active__svg{
  transform: rotate(90deg);
}

.active__callus{
  transform: translateY(0) !important;
}

.call__us{
  color: var(--text-color-light);
  display: grid;
  gap: 0.7rem;
  font-size: var(--small-font-size);
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  width: max-content;
  padding: 15px 20px;
  background-color: var(--third-color);
  border-radius: 20px;
}

.call__us a{
  color: var(--second-color);
  text-decoration: underline;
}

.contact__mini-card{
  overflow: hidden;
  width: 80%;
  
}


/* A PROPOS PRODUCT */
.a__propos-product{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-color-dark);
  width: 100%;
}

.main-product__header{
  font-weight: var(--font-semibold);
  font-size: var(--h3-font-size);
}

.main-product__specs{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  row-gap: 1rem;
  column-gap: 2rem;
  list-style: disc;
}


/*================= RESPONSIVE DESIGN ====================*/
@media screen and (max-width: 1050px) {
  .product__description-container {
    width: 50%;
  }

  .product__description-text {
    width: 100%;
  }

  .contact__mini-card {
    overflow: hidden;
    width: 100%;
    min-height: 5rem;
  }

  .main-product__specs {
    grid-template-columns: repeat(2, 50%);
  }
}


/* MOBILE DEVICES */

@media screen and (max-width: 750px) {
  .detail__navbar-2{
    white-space: nowrap;
    overflow: scroll;
  }

  .detail__navbar-2{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .detail__navbar-2::-webkit-scrollbar{
    display: none;
  }

  .product__img-detail {
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .main-product__images{
    width: 80%;
  }

  .product__description-container {
    width: 80%;
  }

  .a__propos-product {
    width: 90%;
    margin: auto;
  }

  .main-product__specs {
    grid-template-columns: repeat(2, 48%);  
  }
  
}


@media screen and (max-width: 650px) {
  .main-product__images{
    width: 90%;
  }

  .product__description-container {
    width: 90%;
  }

  .a__propos-product {
    width: 100%;
  }
}


@media screen and (max-width: 550px) {
  .main-product__images{
    width: 100%;
  }

  .product__description-container {
    width: 100%;
  }

  .main-product__specs {
    grid-template-columns: repeat(1, 100%);
  }

  .a__propos-product {
    width: 100%;
  }
}


@media screen and (max-width: 365px) {
  .call__us {
    font-size: var(--small-font-size);
    padding: 15px 10px;
  }
}

@media screen and (max-width: 350px) {
  .call__us {
    font-size: var(--smaller-font-size);
  }
}